    .tarjeta {
        border: 5px solid black;
        height: 500px;
        width: 800px;
        background-color: grey;
        position: absolute;
        margin: center;
        display: flex;
        justify-content: center;
    }
    .tarjeta div{
        border: 5px solid black;
        margin: auto;
        padding: 100px;
        background-color: blue;
        border-radius: 30px;
    }
