    .tarjeta {
        border: 5px solid black;
        height: 400px;
        width: 600px;
        background-color: grey;
        position: absolute;
    }
    .tarjeta div{
        margin: 50px;
        padding: 100px;
        background-color: blue;
        border-radius: 30px;
    }
